.error {
  margin-block-start: 3.5rem;

  & h1 {
    font: var(--heading-medium);
    color: var(--text-color);
  }

  & p {
    color: var(--text-color);
    font: var(--text-medium);
    margin-block-start: 2rem;
  }

  a {
    background-color: var(--purple);
    width: min(100%, 56.4rem);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 5.6rem;
    border-radius: 12px;
    margin-block-start: 3rem;
    font: var(--text-medium-semi-bold);
    box-shadow: 0 16px 40px 0 #313e5114;
    text-decoration: none;
    color: #fff;

    &:hover {
      background-color: color-mix(in srgb, var(--purple), #fff 50%);
    }
  }
}
