.progressBar {
  background-color: var(--progress-bar-background);
  border-radius: 999px;
  position: relative;
  height: 1.6rem;
  display: flex;
  align-items: center;
  padding: 0 5px;

  & > div {
    border-radius: 104px;
    background-color: var(--progress-bar);
    height: 0.8rem;
    transform-origin: left;
    width: 100%;
    transform: scaleX(0.2);
    transition: transform 0.5s ease;
  }
}
