.result {
  margin-block-start: 3.5rem;

  & h1 {
    font: var(--heading-medium);
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    color: var(--text-color);
  }
}

.testStats {
  background-color: var(--stat-background);
  min-height: 24.2rem;
  color: var(--text-color);
  margin-block-start: 3.6rem;
  border-radius: 12px;
  padding-block-start: 2em;
}

.testName {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  & span {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & span:has(img[src*='HTML']) {
    background-color: #fff1e9;
  }

  & span:has(img[src*='CSS']) {
    background-color: #e0fdef;
  }

  & span:has(img[src*='JavaScript']) {
    background-color: #ebf0ff;
  }

  & span:has(img[src*='Accessibility']) {
    background-color: #f6e7ff;
  }

  & span > img {
    width: 2.9rem;
  }

  & p {
    font: var(--text-medium-semi-bold);
  }
}

.testResults {
  margin-block-start: 0.5rem;
  text-align: center;
  font: var(--text-medium);
  line-height: 1.27;
  color: var(--accent-color);

  & strong {
    font-size: 8.8rem;
    color: var(--text-color);
  }
}

.playAgainButton {
  background-color: var(--purple);
  width: 100%;
  min-height: 5.6rem;
  border-radius: 12px;
  margin-block-start: 1.2rem;
  font: var(--text-medium-semi-bold);
  box-shadow: 0 16px 40px 0 #313e5114;

  &:hover {
    background-color: color-mix(in srgb, var(--purple), #fff 50%);
  }

  @media screen and (width >= 48rem) {
    & {
      min-height: 9.2rem;
      margin-block-start: 3.2rem;
      border-radius: 24px;
      font-size: 2.8rem;
    }
  }
}
